{% extends 'base.html' %}
{% block content %}

    <form class="uk-form-stacked uk-overlay uk-overlay-default uk-width-1-2" method=post>
    {{ form.csrf_token }}
    {{ form.name }}
        <div class="uk-margin">
            <label class="uk-form-label uk-text-center" for="form-stacked-text">Уровень мероприятия</label>
            {{ form.level(class="uk-select uk-margin-small-bottom") }}
            <div class="uk-form-controls uk-margin-small-bottom">
                {{ form.nomination(class="uk-input", type="text", placeholder="Номинация") }}
            </div>
            <label class="uk-form-label uk-text-center" for="form-stacked-text">Дистанционный</label>
            {{ form.distant(class="uk-select uk-margin-small-bottom") }}
            <div class="uk-form-controls uk-margin-small-bottom">
                {{ form.union(class="uk-input", type="text", placeholder="Объединение") }}
            </div>
            <label class="uk-form-label uk-text-center" for="form-stacked-text">Коллектив</label>
            {{ form.collective(class="uk-select uk-margin-small-bottom") }}
            <div class="uk-form-controls uk-margin-small-bottom">
                {{ form.place(class="uk-input", type="text", placeholder="Место проведения") }}
            </div>
            <div class="uk-form-controls uk-margin-large-bottom">
                {{ form.date(class="uk-input", type="text", placeholder="Дата проведения (Пример: 20.12.2022)") }}
            </div>
            <div class="uk-grid uk-margin-large-bottom wrapper">
                <div class="uk-width-2-3@s">
                    {{ form.fio1(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position1(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio2(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position2(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio3(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position3(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio4(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position4(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio5(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position5(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio6(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position6(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio7(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position7(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio8(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position8(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio9(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position9(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio10(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position10(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio11(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position11(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio12(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position12(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio13(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position13(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio14(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position14(class="uk-input", type="text", placeholder="Место") }}
                </div>
                <div class="uk-width-2-3@s">
                    {{ form.fio15(class="uk-input", type="text", placeholder="ФИО участника") }}
                </div>
                <div class="uk-width-1-3@s">
                    {{ form.position15(class="uk-input", type="text", placeholder="Место") }}
                </div>
            </div>
            {{ form.send(class="uk-button uk-button-primary uk-width-1-1", type="submit") }}
        </div>
    </form>

{% endblock %}