{% extends 'base.html' %}
{% block content %}

    <div class="uk-child-width-1-2@s uk-grid-match" uk-margin>
        <a class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle uk-width-medium uk-animation-scale-up uk-transform-origin-top-center" href="/add_children">

                <h3 class="uk-card-title uk-text-center">Внести данные</h3>
                <p class="uk-text-center">Добавить данные конкурсантов</p>

        </a>

        <a class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle uk-width-medium uk-animation-scale-up uk-transform-origin-top-center" href="/my_contests">

                <h3 class="uk-card-title uk-text-center">Мои конкурсы</h3>
                <p class="uk-text-center">Посмотреть ранее добавленные данные</p>

        </a>
    </div>
{% endblock %}